html, body {
    margin: 0px;
    padding: 0px;
    /* font-family: 'Roboto', sans-serif; */

    background-image: url("/images/blatent_coppyright_infringement.png");
    background-repeat: no-repeat;
    background-size: inherit;
    /* filter: opacity(90%); */

    overflow: hidden;
}

body {
    margin-top: 1%;
}

.teamDiv {
    width: 50%;
    margin-left: 50%;
    position: absolute;
    transform: translate(-40%, 0%);
    transition-duration: 1s;
}

.houseDiv {
    width: 220px;
    text-align: center;
    float: left;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 120px;
    padding-right: 120px;
    font-family: 'Robot', sans-serif;
    color: white;
    font-weight: 900;
    font-size: 32px;
    border-radius: 25px;
}

.pointsDiv{
    position: relative;
    width: 110px;
    /* max-height: 100px; */
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 55px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 26px;
    margin-left: 600px;
}

.pointsDiv > p {
    /* width: 00px; */
    /* padding: 0px; */
}

.balmoral {
    background-color: rgb(150,0,255);
    color: white;
}

.sutherland {
    background-color: rgb(0,0,255);
    color: white;
}

.gleneagles {
    background-color: rgb(240,240,240);
    color: black;
}

.caladonia {
    background-color: rgb(0,200,0);
    color: white;
}

.walace {
    background-color: rgb(255,255,0);
    color: black;
}

.ramsy {
    background-color: rgb(255,0,0);
    color: white;
}
